<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="signIn.css"/>

    <title>Sign in!</title>
</head>
<body>
    <div class="page_translate"></div>
    <div class="dark_mode">
        <i class="fa-solid fa-moon" style="color: #FFD43B;"></i>
    </div>
    <div class = "sign_in_block">
        <div class="profile_img"></div>
        <div label="username" class="username"></div>
        <div label="password" class="password"></div>
        <span class="rst_psswd"></span>
    </div>
    <div class="OauthGoogle">
    </button></button>
    </div>
    <div class="OauthApple">
    </button></button>
    </div>

</body>
</html>